---
import { Image } from 'astro:assets';
---

<footer class="bg-neutral-900 text-neutral-100 pt-10 pb-2 rounded-t-2xl w-full mt-10">
  <div class="container">
    <div class="grid md:grid-cols-3 gap-5 md:gap-10 pb-5 mb-5">
      <div>
        <Image src={import('@/assets/logo.png')} alt="Kureio" class="invert mb-2" />
        <p class="text-sm leading-relaxed text-neutral-300">
          Thank you for shopping with us! Explore our wide range of premium sneakers and more at amazing prices. Enjoy fast delivery and hassle-free returns. Shop now and grab your next pair for just
          £9.99!
        </p>
      </div>

      <div class="flex flex-col md:mx-auto gap-2" id="contact-us">
        <h3 class="font-semibold mb-2 text-base">CUSTOMER CARE</h3>
        <div class="flex items-center gap-2 text-sm text-neutral-300">
          <svg
            class='size-5'
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-phone-icon lucide-phone"
            ><path
              d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"
            ></path></svg
          >
          <span>+44-398-227-060</span>
        </div>
        <div class="flex items-center gap-2 text-sm text-neutral-300">
          <svg
            class='size-5'
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-mail-icon lucide-mail"><path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"></path><rect x="2" y="4" width="20" height="16" rx="2"></rect></svg
          >
          <span>info@kureio.com</span>
        </div>
      </div>

      <div class="flex flex-col gap-2 md:mx-auto">
        <h3 class="font-semibold mb-2 text-base">POLICIES</h3>
        <ul class="space-y-1 text-sm">
          <li><a href="#" class="hover:underline text-neutral-300">Privacy Policy</a></li>
          <li><a href="#" class="hover:underline text-neutral-300">Refund & Returns</a></li>
          <li><a href="#" class="hover:underline text-neutral-300">Shipping Policy</a></li>
          <li><a href="#" class="hover:underline text-neutral-300">Terms of Service</a></li>
          <li><a href="#" class="hover:underline text-neutral-300">Payment Policy</a></li>
        </ul>
      </div>
    </div>
    <p class="text-center font-semibold text-white py-3 border-t border-gray/20">© 2025 Kureio. All Rights Reserved.</p>
  </div>
</footer>
