@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --breakpoint-2xl: 1180px;

  --radius-sm: calc(0.625rem - 4px);
  --radius-md: calc(0.625rem - 2px);
  --radius-lg: 0.625rem;
  --radius-xl: calc(0.625rem + 4px);

  --font-sans: 'Montserrat', sans-serif;

  --color-accent: oklch(0.61 0.2313 22.61);
  --color-background: oklch(1 0 0);
  --color-popover: oklch(1 0 0);
  --color-primary: oklch(0.205 0 0);
  --color-secondary: oklch(0.2 0 0);
  --color-muted: oklch(0.93 0 0);
  --color-gray: oklch(0.61 0 0);
  --color-green: oklch(0.7 0.1371 170.51);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-content: oklch(0.2 0 0);
  --border: oklch(0.94 0 0);
  --color-input: oklch(0.922 0 0);
  --color-ring: oklch(0.708 0 0);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--starwind-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--starwind-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  padding-inline: 15px;
  margin-inline: auto;
}

[id] {
  @apply scroll-mt-10
}