---
import { Image } from 'astro:assets';
import FlagIcon from '@/icons/flag.svg';
import CheckIcon from '@/icons/check.svg';
import { Progress } from '@/components/ui/progress';
import AddToCard from '@/components/AddToCard';
---

<section>
  <div class="flex items-center gap-3 mb-3">
    <Image src={import('@/assets/rating.svg')} class='max-w-[120px]' alt='rating' />
    <div class="flex gap-1">
      <span class="text-gray-700">4.7 |</span>
      <span class="text-gray-600">1000+ Verified Reviews</span>
    </div>
  </div>
  <div class="space-y-5">
    <h1 class="text-3xl font-semibold tracking-tight">Vincofy 7 in 1 SalonPro Hair Styler</h1>
    <div class="flex justify-between items-center gap-2">
      <div class="flex gap-3">
        <div class="flex items-center gap-1">
          <span class="text-stone-950 text-2xl font-bold">£9.99 </span>
          <span class="text-gray-600 text-lg line-through font-semibold">£99.99</span>
        </div>
      </div>
      <a href="#" class="py-1 px-3 uppercase text-sm rounded-md bg-stone-950 text-white">Clearance sale</a>
    </div>
    <ul class="space-y-2">
      <li class="flex items-center gap-3">
        <span class="rounded-full bg-stone-950 size-5 grid place-items-center text-white">
          <CheckIcon fill-color="#FFF" width={18} height={18} />
        </span>
        <span class="font-semibold text-neutral-700">One Tool, Endless Styles</span>
      </li>
      <li class="flex items-center gap-3">
        <span class="rounded-full bg-stone-950 size-5 grid place-items-center text-white">
          <CheckIcon fill-color="#FFF" width={18} height={18} />
        </span>
        <span class="font-semibold text-neutral-700">10,000 RPM Turbo Motor</span>
      </li>
      <li class="flex items-center gap-3">
        <span class="rounded-full bg-stone-950 size-5 grid place-items-center text-white">
          <CheckIcon fill-color="#FFF" width={18} height={18} />
        </span>
        <span class="font-semibold text-neutral-700">Hair-Friendly Heat Control</span>
      </li>
    </ul>
    <div>
      <p class="mb-3">Colour: <strong>Purple</strong></p>
      <Image src={import('@/assets/products/1.webp')} alt="product" width={53} height={53} class="border h-53px object-contain rounded border-stone-950" />
    </div>

    <div>
      <p class="text-muted-foreground font-semibold text-sm mb-2">Hurry, only 31 items left in stock!</p>
      <Progress value={31} client:load />
    </div>

    <AddToCard client:only='react' />

    <div class="border border-muted rounded-md p-3 mt-5">
      <div class="flex justify-center items-center gap-5 pb-5 mb-5 border-b border-muted">
        <Image class="max-w-25" src={import('@/assets/customers.webp')} format="avif" alt="happy customers" />
        <p><strong>+8K </strong>Happy Customers</p>
      </div>
      <div class="flex flex-col items-center gap-2 justify-center lg:gap-10 lg:flex-row">
        <div class="flex items-center gap-2">
          <span class="shrink-0 size-3 animate-pulse rounded-full bg-green-800"></span>
          <p class="text-sm">Delivered by Sat. <strong>Apr 19</strong></p>
        </div>
        <div class="flex items-center gap-2">
          <FlagIcon width={16} height={16} />
          <p class="text-sm"><strong>Free</strong> UPS Shipping</p>
        </div>
      </div>
    </div>
  </div>
</section>
