---
import Slider from '@/components/product/slider/Slider.astro';
import Product from '@/components/product/Product.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-2 gap-10 pt-10">
      <Slider />
      <Product />
    </div>
  </div>
</Layout>
