---
import Banner from '@/components/core/Banner.astro'
import Header from '@/components/core/Header.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class='font-sans'>
    <Banner />
    <Header />
    <slot />
  </body>
</html>
