---
import '@/styles/global.css'
import { Font } from 'astro:assets'
import Banner from '@/components/core/Banner.astro'
import Header from '@/components/core/Header.astro'
import Footer from '@/components/core/Footer.astro'
---

<!doctype html>
<html lang="en" class='antialiased scroll-smooth'>
  <head>
    <Font cssVariable='--font-sans' preload />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class='font-sans'>
    <Banner />
    <Header />
    <slot />
    <Footer />
  </body>
</html>
